#form{
	
}

#info{
	margin-left: 200px;
}

.param{
	text-align: left;
	display: none;
}

p input {
	float: right;
	width: 35px;
}

table {
margin: 10px;
border-spacing: 0 0px;
font-family: 'Open Sans', sans-serif;
margin-left: 200px;
}

th, td{
	border: solid black 1px;
}

.border1 {
	border-radius: 7px 0 0 0;
}

.border2{
	border-radius: 0 7px 0 0;	
}

th {
font-weight: bold;
padding: 10px;
background: #cccccc;
font-size: 16px;
}

td {
vertical-align: middle;
text-align: center;
font-size: 14px;
}

.number{
	width: 53px;
	text-align: center;
}

.time{
	width: 135px;
}

#save{
	margin-left: 500px;
}



