#informer, #informer2, #informer3{
    display: none;
}

#info{
	padding-left: 15px;
}

table{
border-spacing: 0 0px;
border: 1px black solid;
}

th, td{
	border-left: 1px black solid;
	border-top: 1px black solid;
}

#del{
	float: right;
	font-weight: bold;
	color: red;
}