
#content{
	padding-left: 120px; 
	width: 80%;
}

/*шапка*/
#headText{
width: 100%;
text-align: center;
}

.head{
	display: inline-block;
}

#data{
	float: left;
}

#place{
	float: right;
}

/*таблтца*/
table {
	width: 100%;
margin-top: 10px;
margin-bottom: 10px;
border-spacing: 0 0px;
font-family: 'Open Sans', sans-serif;
}

hr{
	margin: 0px;
	padding: 0px;
	border: 1px solid black;
}

th {
font-weight: bold;
padding: 10px 20px;
background: #808080;
border: 1px solid black;
}

td {
	height: 20px;
	border: 1px solid black;
}

.pp{
	text-align: center;
}
