body{
    margin: 0; /*отступы от родительского элемента*/
    background: #F0F0F0; /*сероватый*/
    font-family: cambria, serif;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    height: 100%; 
}

header{
    display: flex;
    flex-direction: row;/*размещение элементов по оси X*/
    letter-spacing: 1px;/*интервал между символами*/
    background: #dde644;/*цвет шапки жетло-зеленый*/
    align-items: center;/*по вертикали располагатся по центру*/
    justify-content: flex-start;/* Равномерно распределяет все элементы по ширине flex-блока.
                                   Первый элемент вначале, последний в конце */
    padding: 5px; /*поля вокруг содержимого элемента*/
    height: 200px;
}

.nav{
    /*padding-right: 200px;*/
    padding-bottom: 10px; 
    align-self: flex-end;
}

.nav ul li {
    display: inline-block; /* Отображать как строчный элемент */
    border-right: 2px solid black;
    border-left: 2px solid black; 
    padding-left: 7px;
    padding-right: 7px; 
    font-size: 30px;
    font-weight: bold;
   }

#entry {
 padding-right: 40px;
 align-self: flex-end;
 margin-left: auto;
 padding-bottom: 30px; 
}

#entry span {
    font-size: 20px;
    margin-right: 5px;
    padding: 5px;
    background: #ffffff;
    border-radius: 10px;
    border:1px solid black;
}

a{
    text-decoration: none;
}

footer{
    position: relative;
    background: #e4e6c7;
    border-top: 2px solid #cdcfb3;
    height: 15%; 
    bottom: 0;
    width: 100%;
}

footer div {
    display: inline-block;
    padding: 5px;
}

/*div блок*/
#vk{
    float: right;
    padding: 0;
    margin-top: 20px;
}

#imgVk{
     width: 15%;
     padding: 5px;
     margin-right: 10px;
     float: right;
}

/*контент*/
.mainANDaside {
    display: flex;
    flex-direction: row; /*элементы расположены по горизонтали (вдоль)*/
    justify-content: space-between;
    align-items: stretch;/*Блок растянут, занимая все доступное место по поперечной оси*/
    height: auto;
}

#content{
    background: white;
    padding: 10px;
    border-right: 5px solid #F0DC8C;
    width: 80%;
    min-height: 500px;
}

#menu a {
    display: block;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    /*background: #DCDCDC;*/
    height: 25px;
    width: auto;
    margin-bottom: 5px;     
}

#content #form{
    /*width: 500px;*/
    margin-bottom: 10px;
    margin-top: 10px; 
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.but{
    text-align: center;
}

#content ul li{
    font-family: 'Comfortaa', cursive;
    font-size: 16px;
}

aside{
    background: #F5F5DC;
    margin-right: 0;
    padding: 5px;
    width: 395px;
    overflow:auto; /*если тект не влезвет то появляется полоса прокрути*/
}

#nameAside{
    font-size: 23px;
}


a:link{
    color: black;
} 

a:visited{
    color: black;
}

a:active{
    color: #BC8F8F;
}


