body{
    margin: 0; /*отступы от родительского элемента*/
    background: #F0F0F0;
    font-family: cambria, serif;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    height: 100%; 
}

header{
    padding: 5px; /*поля вокруг содержимого элемента*/
    background: #f2df3e;
    text-align: center;
    height: 17%;
}

footer{
    position: relative;
    background-color: #A666;
    height: 15%; 
    bottom: 0;
    width: 100%;
}

footer div {
    display: inline-block;
    padding: 5px;
}

/*div блок*/
#vk{
    float: right;
    padding: 0;
    margin-top: 20px;
    /*border: 1px solid black;*/
}

#imgVk{
     width: 15%;
     padding: 5px;
     margin-right: 10px;
     float: right;
}

.mainANDaside {
    padding-left: 10%;
    width: 80%;
    display: flex;
    flex-direction: row; /*элементы расположены по горизонтали (вдоль)*/
    justify-content: space-between;
    align-items: stretch;/*Блок растянут, занимая все доступное место по поперечной оси*/
    /*min-height: 68%; */
    height: auto;
}

#content{
    background: white;
    padding: 10px;
    border: 3px solid #F0DC8C;
    width: 80%;
}

#form{
    width: 500px;
    margin-left: 150px;
    margin-bottom: 10px;
    margin-top: 10px; 
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.but{
    text-align: center;
}

aside{
    border: 3px solid #F0DC8C;
    background: #F5F5DC;
    margin-right: 0;
    padding: 5px;
    width: 395px;
}

#nameAside{
    font-size: 23px;
}


ul li{
    font-family: 'Comfortaa', cursive;
    font-size: 16px;
}

a:link{
    color: black;
} 

a:visited{
    color: black;
}

a:active{
    color: #BC8F8F;
}


